<div id="dataset-gapminder">
  <h3>Data from Gapminder</h3>

  <p>
    <a href="https://www.gapminder.org/">Gapminder</a> produces free teaching resources making the world understandable based on reliable statistics.
  </p>
  <p>
    In the present course we will use <a href="https://raw.githubusercontent.com/swcarpentry/r-novice-gapminder/gh-pages/_episodes_rmd/data/gapminder_data.csv">this dataset</a>.
    It contains time series of life expectancy and GDP per capita for different countries. Please download it and store it in your working directory, ideally inside a folder called data.
  </p>

</div>
